* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    --background: linear-gradient(
        to bottom right,
        rgb(31, 155, 97),
        rgb(68, 130, 231)
    );
}

html {
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, 1);
    color: white;
}

.app {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-rows: 1fr 1fr 3fr; */
    gap: 15px;
    /* height: calc(100vh - 30px); */
    /* width: 100vw; */
}

.header {
    grid-column: 1 / 4;
    background-image: var(--background);
    background-attachment: fixed;
    height: 4em;
    padding: 15px 11px;
    /* background: rgba(255,255,255,0.3); */
    border-radius: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 4px white solid;
}

.header--logo {
    height: 100%;
}

.header--text {
    font-size: 36px;
    font-weight: 600;
}

.account {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background-image: var(--background);
    background-attachment: fixed;
    /* margin-top: 15px; */
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    height: 8em;
}

.account--title,
.drive--title {
    font-size: 24px;
    font-weight: 500;
    align-self: flex-start;
    /* position: sticky;
    top: 0px; */
}

.account--email {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px white solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.account--button,
.drive--button {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 15px;
    border: transparent;
}

.account--login {
    position: relative;
    top: -25px;
}

.account--button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.account--button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.excel {
    background-image: var(--background);
    background-attachment: fixed;
    /* margin-top: 15px; */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    grid-row: 2 / 4;
}

.drive {
    background-image: var(--background);
    background-attachment: fixed;
    /* margin-top: 15px; */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* min-height: calc(var(--height) - 120px); */
    order: 2;
    height: calc(var(--height) - 12em - 158px);
}

.drive--files {
    background-color: rgba(0, 0, 0, 0.7);
    /* border: 1px white solid; */
    border-radius: 15px;
    padding: 5px 5px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* height: 600px; */
    overflow: auto;
}

table {
    /* position: sticky; */
    /* top: 0; */
    border-collapse: collapse;
    border-style: hidden;
    /* width: 100%; */
    text-align: left;
}

th,
td {
    /* border: 1px solid white; */
    /* border-top: 1px solid white; */
    /* border-right: 1px solid white; */
    font-size: 12px;
    padding: 8px;
}

th {
    font-size: 18px;
}

thead {
    position: sticky;
    top: 0;
    color: black;
    background-color: white;
}

thead::before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: -5px;
    bottom: -1px;
    left: -5px;
    right: -5px;
    z-index: -1;
    background-color: white;
}

/* tfoot {
    position: sticky;
    bottom: 0;
    color: black;
    background-color: white;
    transform-style: preserve-3d;
    /* border: 1px solid black; 
    padding: unset; 
} */

/* tfoot::before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0px;
    left: -5px;
    right: -5px;
    transform: translateZ(-1px);
    background-color: white
} */

.drive--table--footer {
    margin-top: auto;
    display: flex;
    position: sticky;
    bottom: 0px;
    padding: 5px;
    transform-style: preserve-3d;
    gap: 10px;
}

.drive--table--footer::before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -5px;
    right: -5px;
    transform: translateZ(-1px);
    background-color: rgb(255, 255, 255);
}

.drive--button {
    /* padding-top: ; */
    align-self: flex-end;
}

tfoot td {
    padding: 0px;
    border: 0px;
    height: 4.5vh;
}

.drive tbody tr:hover {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.4);
}

.drive tbody tr.selected {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.4);
}

tbody tr:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
tbody tr:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table--button {
    padding: 5px;
    /* margin: 3px 0; */
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    border: 0px;
    transition: background 0.4s;
}

.table--button:hover {
    background-color: rgb(153, 153, 153);
}

.table--button:active {
    background-color: rgb(77, 77, 77);
    /* background-size: 100%; 
    transition: background 0s;*/
}

@media only screen and (max-width: 900px) {
    .app {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        z-index: 1;
        max-height: fit-content;
    }

    .header {
        justify-content: space-between;
        position: sticky;
        top: 15px;
        transform-style: preserve-3d;
        height: 7.5vh;
        z-index: 1;
    }

    .header--text {
        position: relative;
        right: 10px;
        font-size: 30px;
    }

    .header::before {
        overflow: hidden;
        content: "";
        height: 50px;
        position: absolute;
        top: -25px;
        left: -5px;
        right: -5px;
        /* z-index: -1; */
        transform: translateZ(-1px);
        background-color: rgba(25, 25, 25, 1);
    }

    .account--button:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .account--button:active {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .drive {
        /* flex: ; */
        min-height: calc(var(--height) - 7.5vh - 113px);

        height: calc(var(--height) - 7.5vh - 113px);
        /* max-height: calc(var(--height) - 7.5vh - 113px); */
        /* height: var(--height); */
        /* height: calc(100vh); */
        order: unset;
        /* z-index: -1; */
        /* border: 1px white solid; */
    }
}
